template SourceList(List source_list) {
	    <ul id="source_lst">
	      ${#each source_list item}
		      <li><span><img src="${item.imageUrl}" alt="${item.title}">image</img><span><a href="#${item.title}" onclick="javascript:download_feed_item(${item.id})">${item.title}</a></span></span></li>
	      ${/each}
	    </ul>
}

template FeedItemsList(List feed_items_list) {
	    <ul id="feed_items_lst">
	      ${#each feed_items_list item}
		      <li><span>${item.title}</span></li>
	      ${/each}
	    </ul>
}