template SourceList(List source_list) {
	    <ul id="source_lst">
	      ${#each source_list item}
		      <li><span><img src="${item.imageUrl}">message</img><span>${item.title}</span></span></li>
	      ${/each}
	    </ul>
}