div#drt_content{
	display:-webkit-inline-box;
	
}

ul#source_lst{
	background-color: #AAAAAA;
    display: block;
    height: 100%;
    width: 200px;
}

ul#content_lst{
	background-color: #EEEEEE;
    display: block;
    height: 100%;
    width: 500px;
}